* {
    box-sizing: border-box;
}

:focus {
    outline-style: none;
    outline-width: 0 !important;
    outline-color: transparent !important;
}

a {
    text-decoration: none !important;
}

header {
    box-shadow: 0 1px 5px 0 #c6c8ca;
}

.logo img{
    width: 160px;
    height: 90px;
}

.search-wrap{
    width: 40%;
}

.search-group {
    width: 100%;
    position: relative;
    display: flex;
    border: 3px solid #00B4CC;
    border-radius: 5px;
}

.search-input {
    width: 100%;
    padding: 5px;
    outline: none;
    color: #9DBFAF;
    border: none;
}

.search-input:focus{
    color: #00B4CC;
}

.search-button {
    width: 40px;
    height: 36px;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.search-button:hover svg {
    transition: all .3s ease;
}

.search-button:hover svg {
    fill: #1d2124;
}

.translations-wrap {
    border: 1px solid #ddd;
}

.translations-header {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.translations-header, .translations-nav {
    padding: 10px 15px;
}

.translations-items {
    border-bottom: 3px solid #eaeaea;
}

.translation-item {
    padding: 10px;
    transition: all .3s ease;
}

.translation-item:hover {
    cursor: pointer;
    background: #eef3fa;
}

.translation-item.selected {
    background: #eef3fa ;
}

.translation-item.selected .translation-title {
    color: #1d2124;
}

.translation-link:hover {
    color: #00B4CC;
}

.group-name {
    font-weight: 600;
    font-size: 20px;
}

.pipe {
    margin: 0 5px;
    color: #ccc ;
}

.book {
    display: flex;
    background: #34b1a7;
    padding: 10px;
    width: 210px;
    margin: 2px;
    color: #fafafa;
    transition: all .3s ease;
}

.book:hover {
    background: rgba(56,205,195,0.9);
}

.book-name, .book-abbr {
    color: #fafafa;
    font-size: 20px;
}

.book-abbr {
    display: none;
}

.button_top{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #34B1A7;
    color: #ffffff;
    padding: 7px;
    z-index: 3;
}

.button_top:hover{
    background-color: #F9AF02;
    transition: 0.2s;
}

.translation-title-wrap {
    padding: 10px 0;
}

.translation-title-wrap .translation-title {
    font-size: 24px;
    margin-bottom: 1px;
}

.chapter {
    background: rgba(56,205,195,0.11);
    padding: 10px;
    margin: 2px;
    width: 50px;
    display: block;
    color: #34b1a7;
    text-align: center;
    transition: all .3s ease;
}

.chapter:hover {
    background: #34b1a7;
    color: #fafafa;
}

.bible-nav {
    background: #f2f1ef;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
    position: relative;
    height: 50px;
}

.bible-nav .current-book {
    font-size: 22px;
    font-weight: 600;
}

.chapter-select-wrap {
    margin-left: 10px;
}

.chapter-select-item {
    font-size: 22px;
    font-weight: 600;
    margin-right: 5px;
}

.current-chapter-wrap {
    position: relative;
    cursor: pointer;
}

.chapter-dropdown-list {
    position: absolute;
    right: 15px;
    top: 40px;
    background: #fafafa;
    border: 1px solid #f2f1ef;
    padding: 5px;
    transition: all .3s ease;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
}

.current-chapter-wrap .dropdown-icon {
    transition: all .3s ease;
}

.current-chapter-wrap.visible .dropdown-icon {
    transform: rotate(180deg);
}

.chapter-dropdown-list.visible {
    visibility: visible;
    opacity: 1;
}

.chapter-select-item {
    font-size: 22px;
    font-weight: 600;
    color: inherit;
    border-bottom: 1px solid #f2f1ef ;
    transition: all .3s ease;
}

.chapter-select-item:hover {
    border-bottom: 1px solid #34b1a7;
    color: #34b1a7;
}

.translation-select-wrap {
    margin: 0 auto;
    width: 100%;
    font-size: 22px;
}

.translation-wrap-current {
    position: relative;
    cursor: pointer;
}

.dropdown-icon {
    transition: all .3s ease;
}

.translation-wrap-current.visible .dropdown-icon {
    transform: rotate(180deg);
}

.translations-dropdown-list {
    position: absolute;
    top: 50px;
    z-index: 3;
    background: #fafafa;
    border: 1px solid #f2f1ef;
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.translations-dropdown-list.visible {
    visibility: visible;
    opacity: 1;
}

.translations-dropdown-list .translation-select-item {
    border-bottom: 1px solid #f2f1ef;
    transition: all .3s ease;
    padding: 5px;
}

.translations-dropdown-list .translation-select-item {
    color: inherit;
    transition: all .3s ease;
}

.translations-dropdown-list .translation-select-item:hover {
    border-bottom: 1px solid #34b1a7;
}

.translations-dropdown-list .translation-select-item:hover {
    color: #34b1a7;
}

.arrow-back, .arrow-next  {
    color:#ffffff;
    background:#34B1A7;
    border:1px solid #ccc;
    border-radius:3px;
    padding:  0 15px;
    box-shadow:1px 1px 1px #E7EAED;
    transition: all .3s ease;
}

.arrow-back:hover, .arrow-next:hover {
    background: rgba(56,205,195,0.1);
}

.arrow-back:hover svg, .arrow-next:hover svg {
    fill:#34b1a7;
}

.arrow-back {
    margin-right: 10px;
}

.bible-side-wrap-toggle {
    padding: 5px;
    text-align: center;
    border: 1px solid silver;
    cursor: pointer;
    transition: all .7s ease;
}

.bible-side-wrap-toggle:hover {
    color: #34b1a7;
}

.bible-side-wrap-toggle:hover .double-arrow {
    fill: #34b1a7;
}

.double-arrow {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.bible-side-wrap-toggle.hidden .double-arrow {
    transform: rotate(0deg);
}

.hide-bible-side-title {
    margin-left: 20px;
    font-size: 18px;
}

.bible-side-wrap {
    color: #2f2f2f;
    border: 1px solid silver;
    cursor: pointer;
}

.bible-side-tab {
    width: 50%;
    font-size: 20px;
    background: none;
    border: 1px solid silver;
    color: #9e9e9e;
    transition: all .3s ease;
}

.bible-side-tab, .bible-book {
    padding: 15px 5px 15px 22px;
}

.bible-side-tab.current {
    border-bottom: 3px solid #34B1A7;
    color: #2f2f2f
}

.bible-book {
    font-size: 20px;
    border-bottom: 1px solid silver;
    transition: all .7s ease;
}

.bible-book:hover {
    color: #34b1a7;
    border-bottom: 1px solid #34B1A7;
}

.bible-book.current {
    border-left: 2px solid #34b1a7;
    color: #00B4CC;
}

.bible-text {
    margin-top: 10px;
    font-size: 20px;
}

.bible-text sup {
    top: -1px;
    margin-right: 2px;
    color: gray;
}

.bible-text div:last-child {
    display: none;
}

@media(max-width: 992px) {
    .book {
        width: 70px;
    }

    .book-name {
        display: none;
    }

    .book-abbr {
        display: block;
    }

    .bible-side {
        position: absolute;
        width: 92%;
        z-index: 1;
        background: #fafafa;
    }

    .bible-side-wrap-toggle {
        position: absolute;
        width: 30px;
        top: -113px;
    }


    .bible-book {
        padding: 22px;
        background: rgba(56,205,195,0.11);
        margin: 0 5px 10px 0;
        color: #34b1a7;
    }

    .bible-book.current {
        border-left: none;
        border-bottom: 2px solid #34b1a7;
    }

}


@media (max-height: 576px) {
    .bible-side-wrap-toggle {
        left: 1%;
    }
}