* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

header {
    box-shadow: 0 1px 5px 0 #c6c8ca;
}

.logo img{
    width: 160px;
    height: 90px;
}

.search-wrap{
    width: 40%;
}

.search-group {
    width: 100%;
    position: relative;
    display: flex;
    border: 3px solid #00B4CC;
    border-radius: 5px;
}

.search-input {
    width: 100%;
    padding: 5px;
    outline: none;
    color: #9DBFAF;
    border: none;
}

.search-input:focus{
    color: #00B4CC;
}

.search-button {
    width: 40px;
    height: 36px;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.translations-wrap {
    border: 1px solid #ddd;
}

.translations-header {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.translations-header, .translations-nav {
    padding: 10px 15px;
}

.translations-items {
    border-bottom: 3px solid #eaeaea;
}

.translation-item {
    padding: 10px;
}

.translation-item:hover {
    cursor: pointer;
    background: #eef3fa;
}

.translation-item.selected {
    background: #eef3fa ;
}

.translation-item.selected .translation-title {
    color: #1d2124;
}

.translation-link:hover {
    color: #00B4CC;
}

.group-name {
    font-weight: 600;
    font-size: 20px;
}

.pipe {
    margin: 0 5px;
    color: #ccc ;
}

.book {
    display: flex;
    background: #34b1a7;
    padding: 10px;
    width: 210px;
    margin: 2px;
    color: #fafafa;
}

.book:hover {
    background: rgba(56,205,195,0.9);
}

.book-name, .book-abbr {
    color: #fafafa;
    font-size: 20px;
}

.book-abbr {
    display: none;
}

.button_top{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #34B1A7;
    color: #ffffff;
    padding: 7px;
}

.button_top:hover{
    background-color: #F9AF02;
    transition: 0.2s;
}

.translation-title-wrap {
    padding: 10px 0;
}

.translation-title-wrap .translation-title {
    font-size: 24px;
    margin-bottom: 1px;
}

.chapter {
    background: rgba(56,205,195,0.11);
    padding: 10px;
    margin: 2px;
    width: 50px;
    display: block;
    color: #34b1a7;
    text-align: center;
}

.chapter:hover {
    background: #34b1a7;
    color: #fafafa;
}

.bible-nav {
    background: #f2f1ef;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

.bible-nav .current-book {
    margin-bottom: 1px;
    color: #34b1a7;
}

.chapter-select-wrap {
    margin-left: 10px;
}

.current-chapter {
    font-size: 22px;
    font-weight: 600;
    margin-right: 5px;
}

.translation-select-wrap {
    margin-left: 20px;
}

.current-translation {
    font-size: 18px;
    margin-right: 5px;
}

.arrow-back, .arrow-next  {
    color:#ffffff;
    background:#34B1A7;
    border:1px solid #ccc;
    border-radius:3px;
    padding:  0 15px;
    box-shadow:1px 1px 1px #E7EAED;
}

.arrow-back {
    margin-right: 10px;
}

.bible-text {
    margin-top: 10px;
}

.bible-text sup {
    top: -1px;
    margin-right: 2px;
    color: gray;
}

@media(max-width: 992px) {
    .book {
        width: 70px;
    }

    .book-name {
        display: none;
    }

    .book-abbr {
        display: block;
    }
}
