/*ОБЩИЕ СТИЛИ*/

* {
    box-sizing: border-box;
    font-family: "RobotoRegular", sans-serif;
}

:focus {
    outline-style: none;
    outline-width: 0 !important;
    outline-color: transparent !important;
}

a {
    text-decoration: none !important;
}

.bible-h1{
    font-size: 20px;
    opacity:  0.0;
    margin: 0;
    padding: 0;
}
/*=========*/

/*Стили для того чтобы прижать футер к низу страницы*/

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /*min-height: 100%;*/
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

/*=========*/

/*Стили для хедера и элементов которые в нём используються*/

header {
    box-shadow: 0 1px 5px 0 #c6c8ca;
}

.logo img{
    width: 160px;
    height: 90px;
}

/*Стили для строки поиска и результатов поиска*/

.search-wrap{
    width: 40%;
}

.search-group {
    width: 100%;
    position: relative;
    display: flex;
    border: 3px solid #00B4CC;
    border-radius: 5px;
}

.search-input {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
}

.search-input:focus{
    color: #00B4CC;
}

.search-button {
    width: 40px;
    height: 36px;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.search-button:hover svg {
    transition: all .3s ease;
}

.search-button:hover svg {
    fill: #1d2124;
}

.search-result-item {
    border: 1px solid silver;
    margin-bottom: 20px;
}

.search-result-head {
    padding: 15px;
    border-bottom: 1px solid silver;
}

.search-result-head a {
    color: #2f2f2f;
}
.search-result-head a:hover {
    color: #00B4CC;
    cursor:pointer;
}

.search-result-text {
    padding: 15px;
    height: 110px;
    overflow: hidden;
}

/*=========*/

/*Стили для блока переводов*/

.translations-wrap {
    border: 1px solid #ddd;
}

.translations-header {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.translations-header-title {
    font-family: "RobotoCondensed-Regular", sans-serif;
    font-size: 35px;
}

.translations-header, .translations-nav {
    padding: 10px 15px;
    font-family: "RobotoCondensed-Bold", sans-serif;
}

.translations-items {
    border-bottom: 3px solid #eaeaea;
}

.translation-item {
    padding: 10px;
    transition: all .3s ease;
    font-size: 16px;
    color: #34b1a7;
}

.translation-item:hover {
    cursor: pointer;
    background: #eef3fa;
}

.translation-link {
    color: #34b1a7;
}

.translation-item:hover .translation-link {
    color: #007bff;
}

.translation-item.selected {
    background: #eef3fa ;
}

.translation-item.selected .comeback-title {
    color: #1d2124;
}

.translation-link:hover {
    color: #00B4CC;
}

/*=========*/

/*Стили для блока с плитками книг*/

.group-name {
    font-family: "RobotoCondensed-Regular", sans-serif;
}

.book {
    display: flex;
    background: #34b1a7;
    padding: 10px;
    width: 210px;
    margin: 2px;
    color: #fafafa;
    transition: all .3s ease;
}

.book:hover {
    background: rgba(56,205,195,0.9);
}

.book-name, .book-abbr {
    color: #fafafa;
    font-size: 19px;
}

.book-abbr {
    display: none;
}

/*=========*/

/*Стили для страницы с главами*/

.comeback-title-wrap {
    padding: 10px 0;
    color: #34b1a7;
}

.comeback-title-wrap .comeback-title {
    font-size: 24px;
    margin-bottom: 1px;
}

.comeback-title, .chapter-name, .chapters-title {
    font-family: "RobotoCondensed-Regular", sans-serif;
}

.chapter {
    background: rgba(56,205,195,0.11);
    padding: 10px;
    margin: 2px;
    width: 50px;
    display: block;
    color: #34b1a7;
    text-align: center;
    transition: all .3s ease;
}

.chapter:hover {
    background: #34b1a7;
    color: #fafafa;
}

/*=========*/

/*Страница для чтения*/

/*Навигация*/

.bible-nav {
    display: flex;
    align-items: center;
    background: #f2f1ef;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
    position: relative;
    height: 50px;
}

.bible-nav-items-wrap {
    border: 1px solid silver;
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 25px ;
}

.bible-nav-item {
    border-right: 1px solid silver;
}

.bible-nav-item {
    padding: 0 10px;
}

.chapter-select-wrap .current-book {
    transition: all .3s ease;
    cursor: pointer;
}

.bible-nav .current-book {
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}

.bible-nav .current-book-wrapper:hover .current-book {
    color: #34b1a7;
}

.bible-nav .current-book-wrapper:hover .book-abbr {
    color: #34b1a7;
}

.bible-nav .current-book .book-abbr {
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
    color: #212529;
}

.bible-nav .current-book .book-abbr:hover {
    color: #34b1a7;
}

.current-book-wrapper.visible .dropdown-icon {
    transform: rotate(180deg);
}

.bible-nav .current-book-wrapper:hover .dropdown-icon {
    fill: #34b1a7;
}

.bible-nav .bible-nav-items-wrap .bible-side {
    position: absolute;
    background: #fafafa;
    z-index: 3;
    top: 50px;
    max-height: 390px;
    overflow-y: auto;
}

.bible-nav .bible-side-tab {
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
}

.search-result-head .current-book {
    font-size: 22px;
    font-weight: 600;
}

.chapter-select-wrap {
    margin-left: 10px;
    cursor: pointer;
}

.chapter-select-item {
    font-size: 22px;
    font-weight: 600;
}

.current-chapter-wrap {
    position: relative;
    cursor: pointer;
}

.current-chapter {
    transition: all .3s ease;
}

.current-chapter-wrap:hover .current-chapter {
    color: #34b1a7;
}

.current-chapter-wrap:hover .dropdown-icon {
    fill: #34b1a7;
}

.chapter-select-wrap:hover .dropdown-icon {
    fill: #34b1a7;
}

.chapter-dropdown-list {
    position: absolute;
    right: -10px;
    top: 40px;
    background: #fafafa;
    border: 1px solid #f2f1ef;
    transition: all .3s ease;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    max-height: 390px;
}

.current-chapter-wrap .dropdown-icon {
    transition: all .3s ease;
}

.current-chapter-wrap.visible .dropdown-icon {
    transform: rotate(180deg);
}

.chapter-dropdown-list.visible {
    visibility: visible;
    opacity: 1;
}

.chapter-select-wrap {
    border-bottom: 1px solid #f2f1ef ;
}

.chapter-select-wrap:hover {
    border-bottom: 1px solid #34b1a7;
    color: #34b1a7;
}

.chapter-dropdown-list .chapter-select-item {
    color: #212529;
    padding: 15px;
    margin-right: 0;
    border-bottom: 1px solid silver;
}

.chapter-dropdown-list .chapter-select-item:hover {
    color: inherit;
    border-bottom: 1px solid #34b1a7;
}

.chapter-select-item .chapter-number {
    color: inherit;
    margin-left: 5px;
}

.chapter-dropdown-list .chapter-select-item span {
    margin-right: 5px;
}

.chapter-select-wrap .chapter-select-item {
    font-size: 22px;
    font-weight: 600;
    transition: all .3s ease;
}

.translation-select-wrap {
    font-size: 22px;
}

.translation-wrap-current {
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}

.translation-select-item {
    transition: all .3s ease;
}

.translation-wrap-current:hover .current-translation {
    color: #34b1a7;
}

.translation-wrap-current:hover .dropdown-icon {
    fill: #34b1a7;
}

.dropdown-icon {
    transition: all .3s ease;
    margin-left: 5px;
}

.translation-wrap-current.visible .dropdown-icon {
    transform: rotate(180deg);
}

.translations-dropdown-list {
    position: absolute;
    top: 50px;
    z-index: 3;
    background: #fafafa;
    border: 1px solid #f2f1ef;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.translations-dropdown-list.visible {
    visibility: visible;
    opacity: 1;
}

.translations-dropdown-list .translation-select-item {
    border-bottom: 1px solid #f2f1ef;
    transition: all .3s ease;
    padding: 5px;
}

.translations-dropdown-list .translation-select-item {
    color: inherit;
    transition: all .3s ease;
    padding: 5px;
}

.translations-dropdown-list .translation-select-item:hover {
    border-bottom: 1px solid #34b1a7;
}

.translations-dropdown-list .translation-select-item:hover {
    color: #34b1a7;
}

.arrow-back, .arrow-next {
    padding: 5px 15px;
    background: #34b1a7;
    transition: all .3s ease;
}

.arrow-back:hover, .arrow-next:hover {
    background: #abdde5;
}

.arrow-back svg, .arrow-next svg {
    transition: all .3s ease;
}

.arrow-back:hover svg {
    fill: #34b1a7;
}

  .arrow-next:hover svg{
   fill: #34b1a7;
}

.arrow-back {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px ;
}

.arrow-next {
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px ;
}

/*=========
Конец стилей навигации
*/

.bible-side-wrap-toggle {
    padding: 5px;
    text-align: center;
    border: 1px solid silver;
    cursor: pointer;
    transition: all .7s ease;
}

.bible-side-wrap-toggle:hover {
    color: #34b1a7;
}

.bible-side-wrap-toggle:hover .double-arrow {
    fill: #34b1a7;
}

.double-arrow {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.bible-side-wrap-toggle.hidden .double-arrow {
    transform: rotate(0deg);
}

.hide-bible-side-title {
    margin-left: 20px;
    font-size: 18px;
}

.bible-side-wrap {
    border: 1px solid silver;
    cursor: pointer;
}

.bible-side-wrap .bible-book {
    color: #2f2f2f;
}

.bible-side-tab {
    width: 50%;
    font-size: 20px;
    background: none;
    border: 1px solid silver;
    color: #9e9e9e;
    transition: all .3s ease;
}

.bible-side-tab, .bible-book  {
    padding: 15px 5px 15px 22px;
}

.bible-side-tab.current {
    border-bottom: 3px solid #34B1A7;
    color: #2f2f2f
}

.bible-book {
    font-size: 20px;
    border-bottom: 1px solid silver;
    transition: all .7s ease;
}

.bible-book:hover {
    color: #34b1a7;
    border-bottom: 1px solid #34B1A7;
}

.bible-book.current {
    border-left: 2px solid #34b1a7;
    color: #00B4CC;
}

.bible-text {
    margin-top: 10px;
    font-size: 20px;
}

.bible-text sup {
    top: -1px;
    margin-right: 2px;
    color: gray;
}

/*.bible-text div:last-child {
    display: none;
}*/

/*Футер*/

footer {
    background: #f2f1ef ;
    padding: 20px;
}

.footer-item {
    font-family: "RobotoCondensed-Regular", sans-serif;
}

.footer-title {
    font-size: 22px;
}

.footer-icon {
    height: 34px;
    width: 34px;
    fill: #34b1a7;
    transition: all .3s ease;
    margin: 5px;
}

.footer-link {
    color: #34b1a7;
}

.footer-link:hover {
    color: #00b4cc;
}

.color-themes-wrapper {
    cursor: pointer;
}

.moon-icon {
    margin: 50% 0;
    fill: #2d2f34;
    transition: all .7s ease;
}

.moon-icon:hover {
    fill: #34b1a7;
}

.sun-icon {
    margin: 50% 0;
    display: none;
    fill: #fafafa;
    transition: all .7s ease;
}

.sun-icon:hover {
    fill: #34b1a7;
}

/*=========*/

/*Кнопка наверх*/

.button_top{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #34B1A7;
    color: #ffffff;
    padding: 7px;
    z-index: 3;
}

.button_top:hover{
    background-color: #F9AF02;
    transition: 0.2s;
}

/*=========*/

/*Темный режим */

.dark {
    background: #383b40;
    opacity: 65%;
    color: #fafafa;
}

.dark header {
    box-shadow: 0 1px 5px 0 #2d2f34;
}

.dark .search-input {
    background: #1f2023;
}

.dark .translations-wrap {
    border: 1px solid #010101;
}

.dark .translations-header {
    background: #1f2023;
    border-bottom: 1px solid #010101;
}

.dark .translations-items {
    border-bottom: 1px solid #010101;
}

.dark .translation-item:hover  {
    background: #697278;
}
.dark .translation-item:hover .translation-link {
    color:#f0f2f3 ;
}

.dark .bible-nav {
    background: #2d2f34;
    border: none;
}

.dark .bible-nav .bible-nav-items-wrap {
    border: 1px solid #010101;
}

.dark .bible-nav-items-wrap .bible-nav-item {
    border-right: 1px solid #010101;
}

.dark .current-book-wrapper .book-abbr {
    color: #fafafa !important;
}

.dark .chapter-dropdown-list, .translations-dropdown-list {
    background: #2d2f34;
}

.dark .translations-dropdown-list .translation-select-item {
    border-bottom:  1px solid #010101;
}

.dark .bible-nav .bible-nav-items-wrap .bible-side {
    background: #2d2f34;
}

.dark .bible-nav .bible-side-tab {
    color: #fafafa;
}

.dark .bible-nav .bible-side-tab.current {
    color: silver;
}

.dark .bible-nav .bible-books-wrap .bible-book{
    color: #fafafa;
    border-bottom: 1px solid #010101;
}

.dark .chapter-dropdown-list .chapter-select-item {
    border-bottom:  1px solid #010101;
    color: #fafafa;
}

.dark .chapter-dropdown-list .chapter-select-item:hover {
    color: #34b1a7;
}

.dark .sun-icon {
    display: block;
}

.dark .moon-icon {
    display: none;
}

.dark footer {
    background: #2d2f34 ;
}


/*=========*/

@media(max-width: 992px) {
    .book {
        width: 70px;
    }

    .book-name {
        display: none;
    }

    .book-abbr {
        display: block;
    }

    .bible-side {
        max-width: 360px;
    }

    .bible-side-wrap-toggle {
        position: absolute;
        width: 30px;
        top: -113px;
    }


    .bible-book {
        padding: 22px;
        background: rgba(56,205,195,0.11);
        margin: 0 5px 10px 0;
        color: #34b1a7;
    }

    .bible-book.current {
        border-left: none;
        border-bottom: 2px solid #34b1a7;
    }

    .moon-icon, .sun-icon {
        margin: 10px auto 0;
    }

}


@media (max-width: 576px) {
    .bible-side {
        max-width: 270px ;
    }

    .bible-side-wrap-toggle {
        left: 1%;
    }

    .chapter-select-wrap .current-book, .current-chapter-wrap .current-chapter, .chapter-dropdown-list > .chapter-select-item, .bible-nav .chapter-number  {
        font-size: 11px;
    }

    .bible-nav-items-wrap .bible-side-tab, .bible-book, .current-book-wrapper, .current-chapter-wrap, .translation-select-wrap  {
        font-size: 11px !important;
    }

    .bible-nav-items-wrap .book-abbr {
        font-size: 11px !important;
    }

    .bible-nav-items-wrap .dropdown-icon {
        height: 12px;
        width: 12px;
    }

    .bible-nav-item {
        padding: 9px 10px;
    }

}
